{% extends '@App/base.html.twig' %}

{% block body %}
<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Contact</h1>
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb">
                    <li><a href="index.php">Accueil</a>
                    </li>
                    <li>Contact</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container" id="contact">
        <div class="row">
            <div class="col-md-8">
                <section>
                    <div class="heading">
                        <h3>Formulaire de contact Flashparking</h3>
                    </div>
                    {% for flash_message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {{ form_start(mailTo) }}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form_row(mailTo.nom) }}

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form_row(mailTo.prenom) }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form_row(mailTo.email) }}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form_row(mailTo.telephone) }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form_row(mailTo.message) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(mailTo.type) }}
                                </div>
                             </div>
                             <div class="col-sm-12 text-center">
                                 <button type="submit" id="mailTo_connect" name="mailTo[connect]" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>Envoyer</button>
                             </div>
                        </div>
                        <!-- /.row -->
                        {{ form_widget(mailTo._token) }}
                    {{ form_end(mailTo, {'render_rest': false}) }}
                </section>
            </div>
            <div class="col-md-4 adresse wow fadeInUp" data-wow-delay="0ms">
                <section>
                    <h3 class="text-uppercase-adresse">Informations</h3>
                    <p><strong>FlashParking</strong>
                        <br>48 Rue Camille Desmoulins
                        <br>92130 Issy-les-Moulineaux
                        <br>
                        <strong>France</strong>
                    </p>
                    <h3 class="text-uppercase-adresse"> Autres informations</h3>
                    <p>
                        <br><strong>+33 555 444 333 :</strong> Appel non surtaxé. <br>
                        <br><strong>Réclamation :</strong> en cas de réclamation par courrier à l’adresse affichée ci-dessus, le service client FlashParking vous rappellera systématiquement par téléphone pour pouvoir traiter votre demande.
                    </p>
                </section>
            </div>
            <div class="col-sm-12 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.60091704032!2d2.259291315486831!3d48.8276755108232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67a8fd6f0c00b%3A0xc47f2c9c658de2c2!2s49+Rue+Camille+Desmoulins%2C+92130+Issy-les-Moulineaux!5e0!3m2!1sfr!2sfr!4v1449357170843" style="width:100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /#contact.container -->
</div>
<!-- /#content -->
{% endblock %}
